[Unit]
Description=Install system using FAI

[Service]
Type=oneshot
StandardOutput=journal+console
Environment="UPSTART_JOB=fai"
ExecStart=/usr/sbin/fai
[Install]
WantedBy=fai-install.target

