Tests: config-space utils
Depends: fai-server, fai-doc
Architecture: amd64

Tests: nfsroot dirinstall
Restrictions: isolation-container needs-root needs-internet
Depends: fai-server, fai-doc
Architecture: amd64

Tests: fai-cd
Restrictions: isolation-container needs-root needs-internet
Depends: fai-server, fai-doc, reprepro, xorriso, squashfs-tools, binutils
Architecture: amd64

Tests: diskimage
Restrictions: isolation-container needs-root needs-internet
Depends: fai-server, fai-doc, reprepro, xorriso, squashfs-tools, binutils, fai-setup-storage
Architecture: amd64

