## grub2 configuration
set default="Boot OS from first partition on first disk"
set timeout=20

# make sure we can access partitions
insmod part_msdos
insmod part_gpt
insmod all_video
insmod gfxterm

set gfxmode=auto
set color_normal=white/black
set color_highlight=red/black
set menu_color_normal=white/black
set menu_color_highlight=black/yellow

menuentry "        +------------------------------------------------------+" {
set timeout=20
}

menuentry "        |        Fully  Automatic  Installation                |" {
set timeout=20

}
menuentry "        |     _VERSIONSTRING_     |" --unrestricted {
set timeout=20

}
menuentry "        |        (c) Thomas Lange  lange@debian.org            |" {
set timeout=20
}
menuentry "        +------------------------------------------------------+" {
set timeout=20
}

menuentry "" {
set timeout=20
}

menuentry "Client standalone installation - select installation type from menu " {
    search --set=root --file /FAI-CD
    linux   /boot/vmlinuz FAI_FLAGS="menu,verbose,createvt" FAI_ACTION=install FAI_CONFIG_SRC=file:///var/lib/fai/config rd.live.image root=live:CDLABEL=FAI_CD rd.neednet ip=dhcp quiet
    initrd  /boot/initrd.img
}

menuentry "Boot OS from first partition on first disk" {
   if [ "$grub_platform" = "efi" ]; then
      if [ -f (hd0,gpt1)/efi/debian/grub.cfg ]; then
           configfile (hd0,gpt1)/efi/debian/grub.cfg
      elif [ -f (hd1,gpt1)/efi/debian/grub.cfg ]; then
           configfile (hd1,gpt1)/efi/debian/grub.cfg
      elif [ -f (hd0,gpt2)/boot/grub/grub.cfg ]; then
           configfile (hd0,gpt2)/boot/grub/grub.cfg
      elif [ -f (hd1,gpt2)/boot/grub/grub.cfg ]; then
           configfile (hd1,gpt2)/boot/grub/grub.cfg
      else
	   echo "cannot find grub.cfg"
	   sleep 7
      fi
   # legacy BIOS booting
   elif [ -d (cd) ]; then
       set root=(hd0)
       chainloader +1
   else
       set root=(hd1)
       chainloader +1
   fi
}

menuentry "Rescue system, no installation" {
    search --set=root --file /FAI-CD
    linux /boot/vmlinuz FAI_FLAGS="verbose,createvt" FAI_ACTION=sysinfo FAI_CONFIG_SRC=file:///var/lib/fai/config rd.live.image root=live:CDLABEL=FAI_CD quiet
    initrd /boot/initrd.img
}

menuentry "FAI server installation - using external DHCP server" {
    search --set=root --file /FAI-CD
    linux /boot/vmlinuz FAI_FLAGS="verbose,createvt" FAI_ACTION=install hostname=faiserver FAI_CONFIG_SRC=file:///var/lib/fai/config rd.live.image root=live:CDLABEL=FAI_CD rd.neednet ip=dhcp quiet
    initrd /boot/initrd.img
}

menuentry "FAI server installation - using internal DHCP and a fixed IP" {
    search --set=root --file /FAI-CD
    linux /boot/vmlinuz FAI_FLAGS="verbose,createvt" FAI_ACTION=install ip=192.168.33.250::192.168.33.1:255.255.255.0:faiserver:eth0:off FAI_CONFIG_SRC=file:///var/lib/fai/config rd.live.image root=live:CDLABEL=FAI_CD quiet
    initrd /boot/initrd.img
}
